.about-wrp{
    .main-heading{
        text-align: center;
        line-height: 2.5;
    }
    .heading{
        font-weight: normal;
        color: #facc44;
    }
    .heading--sub{
        color: #66d9ef;
    }
    .para{
        font-weight: normal;
        font-size: 18px;
        line-height: 1.5;
    }
    .tool{
        margin: 30px 0;
        h2{
            font-weight: normal;
            color: #e64b36;
        }
        .tools--sub{
            .tools-para{
                display: flex;
                width: 100%;
                justify-content: center;
                font-size: 17px;
                .title{
                    width: 25%;
                    color:#66d9ef;
                    text-align: right;
                }
                .content{
                    width: 70%;
                    padding-left: 50px;
                }
            }
            @media only screen and (max-width: 1060px) {
                .tools-para{
                    flex-direction: column;
                    .title{
                        width: 100%;
    
                    }
                    .content{
                        width: 100%;
                        padding-left: 0;
                    }
                }
            }
        }

    }
}