<div class="works-container" id="work">
    <h1 class="heading">Works</h1>
    <h2 class="sub-heading"> Machine learning and Deep learning </h2>
    <div class="works-row">
        <div class="title">
            <h3 class="title-head">Parkinson disease detection </h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/detect_parkinsons.jpg" alt="">
            </div>
            <div class="content">
                <h4># Parkinson's Disease detection classifier on the PD speech feature dataset</h4>
                <h4># Applied Principle Component Analysis(PCA) to reduce dimentionality and features </h4>
                <h4># Computed Eigenvalues and Eigenvectors to identify Principle Components. </h4>
                <h4>#  Compared Accuracy various Machine Learning Classification Models: before-after PCA. </h4>
                <h4># Technologies used - Scikit learn,Pandas, Matplot, Numpy  </h4>
                <h4 class="git">Check it out on <a href="https://github.com/gnanu27/Parkinson_disease_classifier" target="_blank" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>
    
    <div class="works-row">
        <div class="title">
            <h3 class="title-head">Art Generation with Neural Style Transfer </h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/nst.jpeg" alt="">
            </div>
            <div class="content">
                <h4># Neural Style Transfer (NST)  using VGG-19, a 19-layer version of the VGG network.</h4>
                <h4># Generated novel artistic images, style cost function, content cost function</h4>
                <h4># Technologies used - Tensorflow,Keras, Matplot, Numpy </h4>
                <h4 class="git">Check it out on <a href="https://github.com/gnanu27/Art_generation_NST" target="_blank" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>

    <div class="works-row">
        <div class="title">
            <h3 class="title-head">Image Segmentation using U-Net</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/carseg.png" alt="">
            </div>
            <div class="content">
                <h4># Image segmentation on the CARLA self-driving car dataset</h4>
                <h4># Applied sparse categorical crossentropy for pixelwise prediction</h4>
                <h4># Skip connections to prevent border pixel information loss and overfitting in U-Net</h4>
                <h4># Technologies used - Tensorflow,Keras, Matplot, Numpy  </h4>
                <h4 class="git">Check it out on <a href="https://github.com/gnanu27/img_segmentaion_for_carla_datasets" target="_blank" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>


    <div class="works-row">
        <div class="title">
            <h3 class="title-head">SIGNS recognization using ResNet</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/signs_data_kiank.png" alt="" >
            </div>
            <div class="content">
                <h4># Recognizing SIGNS dataset using ResNet with 50 layers</h4>
                <h4># Very deep Residual Networks are built by stacking the identity block and the convolutional blocks together.</h4>
                <h4># Skip connections to address the Vanishing Gradient problem</h4>
                <h4># Technologies used - Tensorflow, Keras, Matplot, h5py </h4>
                <h4 class="git">Check it out on <a (click)="goToLink('https://github.com/gnanu27/sign_detection_using_resnet')"
                     href="" 
                     class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>

    <div class="works-row">
        <div class="title">
            <h3 class="title-head">Cat or Non-cat Classification using a Deep neural network</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/2layerNN_kiank.png" alt="">
            </div>
            <div class="content">
                <h4># Build a deep neural network to supervised learning.  </h4>
                <h4># Initialize parameters, Forward propagation, Compute cost function, Backward propagation, Update parameters</h4>
                <h4># Use trained parameters to predict labels</h4>
                <h4># Technologies used - Python, Matplot, Numpy, pandas, scipy, h5py </h4>
                <h4 class="git">Check it out on <a href="https://github.com/gnanu27/deep_neural_network_classifier.git" target="_blank" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>
</div>