<div class="works-container">
    <h1 class="heading">Works</h1>
    <h2 class="sub-heading"> Machine learning and Deep learning </h2>
    <div class="works-row">
        <div class="title">
            <h3 class="title-head">MNIST Handwritten Digits Classification using a Convolutional Neural Network (CNN)</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/mnistcnn.png" alt="">
            </div>
            <div class="content">
                <h4># Classifying MNIST digits using a convolutional neural network implemented with tensorflow</h4>
                <h4># Technologies used - Tensorflow, Matplot, Numpy </h4>
                <h4 class="git">Check it out on <a href="" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>

    <div class="works-row">
        <div class="title">
            <h3 class="title-head">MNIST Handwritten Digits Classification using a Convolutional Neural Network (CNN)</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/mnistcnn.png" alt="">
            </div>
            <div class="content">
                <h4># Classifying MNIST digits using a convolutional neural network implemented with tensorflow</h4>
                <h4># Technologies used - Tensorflow, Matplot, Numpy </h4>
                <h4 class="git">Check it out on <a href="" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>

    <div class="works-row">
        <div class="title">
            <h3 class="title-head">MNIST Handwritten Digits Classification using a Convolutional Neural Network (CNN)</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/mnistcnn.png" alt="">
            </div>
            <div class="content">
                <h4># Classifying MNIST digits using a convolutional neural network implemented with tensorflow</h4>
                <h4># Technologies used - Tensorflow, Matplot, Numpy </h4>
                <h4 class="git">Check it out on <a href="" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>

    <div class="works-row">
        <div class="title">
            <h3 class="title-head">MNIST Handwritten Digits Classification using a Convolutional Neural Network (CNN)</h3>
        </div>
        <div class="work-body">
            <div class="img">
                <img src="../../../assets/image/work/mnistcnn.png" alt="">
            </div>
            <div class="content">
                <h4># Classifying MNIST digits using a convolutional neural network implemented with tensorflow</h4>
                <h4># Technologies used - Tensorflow, Matplot, Numpy </h4>
                <h4 class="git">Check it out on <a href="" class='git-cls'><i class="fa fa-github i-clr" aria-hidden="true"></i> github</a></h4>
            </div>
        </div>
    </div>
</div>