<div class="port__header--hero" id="hero">
    <div class="port__header--hero-container">

        <div class="port__header--hero-intro">
            <h1>
                Hi! I'm Gnanavel
                 <!-- <span role='img' aria-label=''>👋</span> -->
            </h1>

            <h2>
              I'm  a <span> Software Engineer </span> who is passionate about <span class="clr"> machine learning</span>,
               <span class="clr"> web development</span>, and <span class="clr">open source</span>.
            </h2>
            <div class="btn-wrap">
                <a class="btn" href="../../../assets/resume/gv_cv.pdf" target="_blank">Download CV</a> 
            </div>

        </div>
        <div class="port__header--hero-desc">
            <img src='../../../assets/image/yellow.svg' class="port__header--hero-svg" alt="dev" />
        </div>
    </div>

</div>