<div class="footer-wrap" id="contact">
    <h2 class="heading">
        Let's build something together
    </h2>
    <div class="footer-body">
        <div class="container">
            <h4>Email</h4>
            <h2>gnanavel.py2k@gmail.com</h2>
        </div>
        <div class="container">
            <h4>Resume</h4>
            <h2> <a href="../../../assets/resume/gv_cv.pdf"  target="_blank">Download PDF</a> </h2>
        </div>
        <div class="container">
            <h4>Medium</h4>
            <h2><a href="https://medium.com/@noob_dev"  target="_blank">Click Me</a></h2>
        </div>
        <div class="container">
            <h4>Message</h4>
            <h2><a href="https://www.linkedin.com/in/gnanavelv27"  target="_blank">LinkedIn</a></h2>
        </div>
    </div>
</div>