<div class="header-wrap">
    <div class="header-main">
        <input type="checkbox" class="menu-toggle" id="menu-toggle">
        <div class="mobile-bar">
            <label for="menu-toggle" class="menu-icon">
                <span></span>
            </label>
        </div>

        <header class="header">
            <nav>
                <ul>
                    <li><a href="#">{{"< "}}Works{{" />"}}</a></li>
                    <li><a href="#">{{"< "}}About{{" />"}}</a></li>
                    <li><a href="#">{{"< "}}Contact{{" />"}}</a></li>
                </ul>
            </nav>
        </header>

        <a class="navbar-brand" href="/" style="padding:0px;">
            <p class="logo">{{"{ "}} Gnanavel {{" }"}};</p>
        </a>

    </div>
</div>